# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.os_lab_2.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\permo\RiderProjects\os_lab_2\.idea\.idea.os_lab_2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
