# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.OS_lab_2_valid.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Professional\RiderProjects\OS_lab_2_valid\.idea\.idea.OS_lab_2_valid.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
